.profile{
    display: flex;
}
.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-letter{
    background-color: #B1D4E0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px white;
    text-transform: capitalize;
}

.profileRightBottom{
    display: flex;
}

.profileInfoName{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}