
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.fa {
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:20px; 
font-size:20px;

}

.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#f8ba45;
position:absolute;
top:auto;
height:auto;
left:0;
width:50px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
transform: rotate(20deg);
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 2px 0 15px rgba(3, 85, 99, 0.07);
  opacity:1;
}

.main-menu>ul {
margin:7px 0;

}

.main-menu li {
position:relative;
display:block;
height: 40px;
/* width:250px; */
}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#6d3e00;
font-size: 13px;
text-decoration:none;
transform: rotate(20deg);
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
/* border-top:1px solid #b97a7a; */

text-shadow: 1px 1px 1px  #fff;  
}

.main-menu .nav-icon {
  
position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}

.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.size-icon{
  width: 30px;
  position:relative;
  padding-left: 10px;
  padding-top: 10px;
}

.file-size-icon{
  width: 35px;
  position:relative;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px; 
  border-color: transparent;
  /* font-size: 55px; */
  background-color: transparent;
}

.chat-button-icon{
  /* width: 100px; */
  align-self: center;
  padding-top: 10px;
  
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}


/* Logo Hover Property */


.settings:hover, settings:focus {   
  background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  text-transform: uppercase;
}

#fileInput{
    display: none;
    z-index: 5;
    position: absolute;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#00bbbb;
  text-shadow: 0px 0px 0px; 
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.main-menu li{
    border-radius: 8px; 
    border-color: transparent;
    font-size: 25px;
    background-color: transparent;
}

.file-buttons{
  border-radius: 5px; 
  border-color: transparent;
  font-size: 25px;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 10px;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 2%;
    background: white;
    border-radius: 25px;
}

.chat-button {
    position: fixed;
    right:50px;
    bottom: 50px;
    background: dodgerblue;
    color: white;
    width:60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    
}

.chat-btn:hover{
  opacity: 1;
}

.chat-popup{
  display: none;
  position: fixed;
  bottom:80px;
  right:120px;
  width: 300.5px;
  height: 435.5px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
}

.show{
  display: flex;
}

.chat-area{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}